<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-table/bootstrap-table.min.css"/>
    <!--<link rel="stylesheet" type="text/css" href="static/css/bootstrap-select/bootstrap-select.min.css"/>-->
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap-multiselect/bootstrap-multiselect.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/index.css"/>
    <title>Log Scan</title>
</head>

<body>


<div class="container-fluid fileset">
  <div class="panel panel-primary">
  <div class="panel-heading">查询条件</div>
  <div class="panel-body">

      <form class="form-inline" role="form">
         <div class="form-group">
    <select class="multiselect" >
  <option value="中国">中国</option>
  <option value="美国">美国</option>
  <option value="大胖">大胖</option>
  <option value="中胖">中胖</option>
  <option value="小胖">小胖</option>
  <option value="微胖">微胖</option>
</select>

  </div>


        <div class="form-group">
            <label for="tool">Tool</label>

            <input type="text" class="form-control" id="tool" placeholder="请选择">
        </div>
        <div class="form-group">
            <label for="project">Project</label>
            <input type="email" class="form-control" id="project" placeholder="请选择">
        </div>
          <div class="form-group">
            <label for="owner">Owner</label>
            <input type="text" class="form-control" id="owner" placeholder="请选择">
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input type="email" class="form-control" id="time" placeholder="请选择">
        </div>
          <button type="submit" class="btn btn-primary">查询</button>
        </form>
    </div>
    </div>

    <table id="table"></table>

</div>





<script type="text/javascript" src="static/js/jquery/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="static/js/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
<!--<script type="text/javascript" src="static/js/bootstrap-select/bootstrap-select.min.js"></script>-->
<script type="text/javascript" src="static/js/bootstrap-multiselect/bootstrap-multiselect.min.js"></script>
<script type="text/javascript" src="static/js/index.js"></script>
</body>
</html>